 @media (max-width:600px) {

    nav{
        font-size: 4vmax;
    }

    .container{
        width: 100%;
        height: 60vmax;
        background-color: rgba(255, 192, 203, 0.342);
        display: inline-block;
        position: relative;
        z-index: -2;
    }
    
    .text{
        width: 100%;
        height: 100%;
        /* background-color: antiquewhite; */
        padding: 3%;
        margin-top: 4%;
    }
    .text>h1{
        font-size: 13vmax;
        line-height: 10vmax;
    
    }
    
    .text>h2{
        font-size: 12vmax;
        font-weight: 100;
        line-height: 10vmax;
    }
    .text>p{
        font-size: 2vmax;
        padding: 2%;
        margin-top: 8%;
    }
    
    button{
        padding: 1vmax 3vmax;
        font-weight: 900;
        background-color: transparent;
        margin: 4% 0;
        margin-top: 12%;
    }
    
    .pink{
        width: 40%;
        height: 50%;
        background-color: pink;
        position: absolute;
        top: 2%;
        left: 57%;
        z-index: -1;
    }
    .pink2{
        width: 70%;
        height: 30%;
        background-color: pink;
        position: absolute;
        bottom: 0%;
        right: 0%;
        z-index: -1;

    }
    
    .pinkdots{
        width: 10%;
        height: 40%;
        overflow: hidden;
        position: absolute;
        bottom: 2%;
        left: 30%;
        display: none;
    
    }
    
    .pinkdots>img{
        width: 100;
        height: 100%;
    }
    .img1{
        width: 100%;
        height: 100%;
        margin-top: 5%;
    
    }
    .img1>img{
        width: 100%;
        height: 100%;
    }

    .container1{
        width: 100%;
        height: 50vw;
        display: inline-block;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .container1>h1{
        font-size: 4vmax;
        letter-spacing: 2vw;
    }
    
    .container1>p{
        font-size: 2.5vmax;
        color: palevioletred;
        line-height: 2.5vmax;
        margin-top: 4%;
        letter-spacing: .2vmax;
    }
    span{
        color: palevioletred;
    }

    .container2{
        width: 100%;
        height:auto;
        /* background-color: aliceblue; */
        position: relative;
        display: inline-block;
        text-align: center;
        justify-content: center;
    }
    .bg{
        width: 100%;
        height: 100%;
        background-color: rgba(255, 192, 203, 0.342);
        position: absolute;
        top: 25%;
        left: 3%;
        z-index: -1;
        display: none;
    }
    
    .img2{
        width: 100%;
        height: 100%;
        font-size: 2.5vmax;
        text-align: center;
        margin-left: 0%;
    }
    .img2>p{
        margin-top: 7%;
        margin-bottom: 3%;
        
    }
    .img2 i{
        font-size: 3.5vmax;
        padding: 2%;
    }
    .img2>img{
        width: 100%;
        height: 100%;
        
    }
    .img3{
        width: 100%;
        height: 100%;
        font-size: 5vmax;
        font-weight: 100;
        margin-right: 0%;
        transform: translateY(0px);
        text-align: left;
        margin-left: 0%;
        color: palevioletred;
        
    }
    .img3>img{
        width: 100%;
        height: 100%;
    }
    .filler{
        width: 100%;
        height: 10vmax;
        /* background-color: aqua; */
        display: none;
    }
    
    .container3{
        width: 100%;
        height: auto;
        background-color:pink;
        /* margin-top: 7vmax; */
        position: relative;
        display: inline-block;
        text-align: center;
        justify-content:space-around;
        z-index: -2;
    }
    
    .text2{
        width: 100%;
        height: 100%;
        /* background-color: antiquewhite; */
        text-align: left;
        /* margin-top: 7vmax; */
        padding: 2%;
    
    }
    .text2>button{
        margin-left: 9%;
    }
    
    .text2>p{
        /* font-weight: 800; */
        font-size: 2.5vmax;
        /* width: 80%; */
        line-height: 3.5vmax;
        margin-top: 30%;
        margin-left: 8%;
        letter-spacing: .2vmax;
    }
    .bg2{
        width: 40%;
        height: 100%;
        background-color:white;
        position: absolute;
        left: 50%;
        z-index: -1;
        display: none;
    }
    
    .img4{
        width: 100%;
        height: 70%;
        /* background-color: red; */
        margin-top: 6vmax;
    
    
    }
    .img4>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .container4{
        width: 100%;
        height: 40vmax;
        /* background-color: bisque; */
        display: inline-block;
        justify-content: space-around;
        position: relative;
    }
    
    .img5{
        width: 100%;
        height: 100%;
        /* background-color: aqua; */
        display: flex;
        flex-direction: column;
        margin:0 0% ;
    }
    .img5>img{
        width: 100%;
        height: 100%;
    }
    
    .text3{
        width: 100%;
        height: 100%;
        /* background-color: chartreuse; */
    }
    .text3>p{
        font-weight: 900;
        margin-top: 10%;
        width: 70%;
        text-align: center;
        line-height: 4vmax;
        word-spacing: .2vmax;
        margin-left: 16%;
    }
    
    .text3>button{
        margin-left: 35%;
    }
    
    .txt1{
        font-size: 5vmax;
        text-align: center;
    }
    .txt{
        font-weight: 100;
    }
    .bg3{
        width: 30vmax;
        height: 30vmax;
        background-color:pink;
        position: absolute;
        border-radius: 50%;
        top: 24%;
        right: 28%;
        z-index: -1;
        display: none;
    }
    
    .container5{
        width: 100%;
        height: auto;
        background-color: pink;
        margin-top: 17vmax;
    }
    .flex{
        display: inline-block;
        text-align: center;
        justify-content: space-around;
    }
    .flex h1{
    font-size: 2vmax;
    margin: 4% 0;
    }
    .flex p{
        line-height: 2vmax;
        text-align: center;
    }
    
    .flex i{
        font-size: 5vmax;
        background-color: pink;
        padding: 2%;
        border-radius: 50%;
    }
    
    .flex1{
        width: 100%;
        height: 20vmax;
        background-color: white;
        padding: 2%;
        border: 2px solid pink;
        transform: translateY(0px);
    
    }
    .flex2{
        width: 100%;
        height: 20vmax;
        background-color: white;
        padding: 2%;
        border: 2px solid pink;
        transform: translateY(0px);
    
    }
    .flex3{
        width: 100%;
        height: 20vmax;
        background-color: white;
        padding: 2%;
        border: 2px solid pink;
        transform: translateY(0px);
    
    }
    .flex4{
        width: 100%;
        height: 20vmax;
        background-color: white;
        padding: 2%;
        border: 2px solid pink;
        transform: translateY(0px);
    }
    
    .container6{
        width: 100%;
        height: 80vmax;
        background-color: pink;
        display: flex;
        text-align:right;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
        z-index: -2;
    }
    .container6 h1{
        font-size: 3vmax;
        padding: 2%;
    }
    .container6 p{
        line-height: 2vmax;
        padding: 3%;
    }
    .container6 button{
        margin-top: 0;
        margin-right: 4%;
    }
    .photo{
        width: 50%;
        height: 40%;
        margin-left: 25%;
    }
    
    .photo>img{
        
        border-radius: 50%;
        width: 100%;
        height: 100%;
        border: 9px solid white;
    }
    .bg5{
        width: 30vmax;
        height: 30vmax;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        bottom: 5%;
        left: 10%;
        z-index: -1;
    }

    .container7{
        width: 100%;
        height: 50vmax;
        display:inline-block;
    }
    .pic{
        width: 100%;
        height: 100%;
    }
    .pic>img{
        width: 100%;
        height: 100%;
    }
    
    .pic1>img{
      width: 100%;
      height: 100%;
    }
    .pic1{
        width: 100%;
        height: 100%;
    }

    footer{
        width: 100%;
        height: 50vmax;
        background-color: pink;
        display: inline-block;
        position: relative;
    
    }
    .container8{
        width: 100%;
        height: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        margin-right: 0%;
    
    }
    
    .bg7{
        width: 40%;
        height: 100%;
        background-color: rgba(218, 36, 66, 0.399);
        display: none;
    }
    
    .container8 h1{
        font-weight: 100;
        letter-spacing: .2vmax;
        margin: 0% 0;
     
    }
    
    .container8 p{
        line-height: 3vmax;
        letter-spacing: .3vmax;

    }
    .icons{
        font-size: 4vmax;
        margin: 0 4%;
    }
    .img-l>img{
        width: 100%;
        height: 100%;
    }
    .img-l{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 80%;
        left: 0%;
    }
    
 }